/part-02-Igniting-our-app/node_modules
/part-02-Igniting-our-app/dist
/part-02-Igniting-our-app/.parcel-cache
/node_modules
/part-03-Laying-the-foundation/node_modules
/part-03-Laying-the-foundation/dist
/part-03-Laying-the-foundation/.parcel-cache
/part-4-Food-Ordering-App/node_modules
/part-4-Food-Ordering-App/dist
/part-4-Food-Ordering-App/.parcel-cache
/part-4-Food-Ordering-App/style.css